# {{ ansible_managed | comment }}
{% if apache_vhosts_version == '2.2' %}
  NameVirtualHost *:{{ apache_listen_port }}
{% endif %}

{% if apache_proxy %}
Listen 127.0.0.1:{{ apache_listen_port }}
{% else %}
Listen {{ apache_listen_port }}
{% endif %}

{% if apache_vhosts_version == '2.2' %}
<IfModule mod_ssl.c>
    NameVirtualHost *:{{ apache_listen_port_ssl }}
    Listen {{ apache_listen_port_ssl }}
</IfModule>
{% else %}
<IfModule ssl_module>
{% if apache_proxy %}
  Listen 127.0.0.1:{{ apache_listen_port_ssl }}
{% else %}
  Listen {{ apache_listen_port_ssl }}
{% endif %}
</IfModule>
{% endif %}

<IfModule mod_gnutls.c>
{% if apache_proxy %}
  Listen 127.0.0.1:{{ apache_listen_port_ssl }}
{% else %}
  Listen {{ apache_listen_port_ssl }}
{% endif %}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet