# {{ ansible_managed }}
<VirtualHost *:{{ http_port }}>
  ServerAdmin {{ apache_server_admin }}
  ServerName {{ apache_webserver_hostname }}
  {% if apache_webserver_hostname_alias is defined and apache_webserver_hostname_alias|length > 0 %}
  ServerAlias {{ apache_webserver_hostname_alias }}
  {% endif %}


  DocumentRoot {{ apache_default_site }}

  {% if apache_server_status_enabled %}
  <Location /server-status>
    SetHandler server-status
    {% if apache_vhosts_version == '2.4' %}
     {% for entry in incoming_ip_whitelist %}
   Require ip {{ entry.ip }}
     {% endfor %}
   {% else %}
   Order deny,allow
   Deny from all
   Allow from 127.0.0.1
     {% for entry in incoming_ip_whitelist %}
   Allow from {{ entry.ip }}
     {% endfor %}
   {% endif %}
</Location>
{% endif %}

  <Directory {{ apache_default_site }}>
    AllowOverride None
    Options -Indexes +FollowSymLinks -MultiViews
 {% if apache_vhosts_version == '2.4' %}
    Require all granted
 {% else %}
    Order allow,deny
    allow from all
 {% endif %}
  </Directory>



  LogLevel {{ apache_loglevel }}
 # ErrorLog ${APACHE_LOG_DIR}/error.log
 # CustomLog ${APACHE_LOG_DIR}/access.log {{ apache_accesslog_format }}


 {% include 'vhost_bboptimisations001.conf.j2' %}



</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
