# {{ ansible_managed }}
{% if apache_site_https_enabled %}
{% include 'vhost80-443.j2' %}
{% endif %}

{% if apache_site_https_enabled %}
<IfModule mod_ssl.c>
{% endif %}
<VirtualHost *:{{ apache_listen_port_ssl if apache_site_https_enabled else apache_listen_port }}>
  ServerAdmin {{ apache_server_admin }}
  ServerName {{ apache_webserver_hostname }}
  {% if apache_webserver_hostname_alias is defined and apache_webserver_hostname_alias|length > 0 %}
  ServerAlias {{ apache_webserver_hostname_alias }}
  {% endif %}

{% if host_redirect_to_main %}
<If "%{HTTP_HOST} != '{{ apache_webserver_hostname }}'">
  Redirect "/" "http{{ 's' if apache_site_https_enabled else '' }}://{{ apache_webserver_hostname }}/"
</If>
{% endif %}
  DocumentRoot {{ apache_default_site }}

# CORS support allow fonts
<IfModule mod_headers.c>
<FilesMatch ".(eot|ttf|otf|woff)">
  Header add Access-Control-Allow-Origin "*"
  Header add Access-Control-Allow-Methods "GET"
</FilesMatch>
</IfModule>

{% if apache_site_https_enabled %}
 {% include 'vhost-ssl.inc.j2' %}
{% endif %}

  {% if apache_server_status_enabled %}
  <Location /server-status>
    SetHandler server-status
    {% if apache_vhosts_version == '2.4' %}
     {% for entry in incoming_ip_whitelist %}
   Require ip {{ entry.ip }}
     {% endfor %}
   {% else %}
   Order deny,allow
   Deny from all
   Allow from 127.0.0.1
     {% for entry in incoming_ip_whitelist %}
   Allow from {{ entry.ip }}
     {% endfor %}
   {% endif %}
</Location>
{% endif %}

{% if apache_deny_addresses %}
Include {{ apache_conf_available }}/blocked-addresses.conf
{% endif %}
{% if apache_deny_agents %}
Include {{ apache_conf_available }}/blocked-agents.conf
{% endif %}

  <Directory {{ apache_default_site }}>
    AllowOverride None
    Options -Indexes +SymLinksIfOwnerMatch -MultiViews
 {% if apache_vhosts_version == '2.4' %}
<RequireAll>
        <RequireAny>
            Require local
            <RequireAll>
                Require all granted
                 {% if apache_deny_addresses or apache_deny_agents %}
                <RequireNone>
 {% if apache_deny_addresses %}
                  Require env BlockedAddress
 {% endif %}
 {% if apache_deny_agents %}
                  Require env BlockedAgent
 {% endif %}
               </RequireNone>
                 {% endif %}
            </RequireAll>
        </RequireAny>
 </RequireAll>
 {% else %}
    Order allow,deny
    Allow from all
  {% if apache_deny_addresses %}
    deny from env=BlockedAddress
  {% endif %}
  {% if apache_deny_agents %}
    deny from env=BlockedAgent
  {% endif %}
 {% endif %}


  </Directory>


  LogLevel {{ apache_loglevel }}
  {% if apache_vhosts_version == '2.4' %}
  ErrorLog ${APACHE_LOG_DIR}/{{ apache_vhost_logname }}-error.log
  {% else %}
  ErrorLog {{apache_log_dir}}/{{ apache_vhost_logname }}-error.log
  {% endif %}
  {% if apache_log_exclude %}
  {% include 'bbinc/vhost-bb-logging.j2' %}
  {% else %}
  {% if apache_log_exclude_hb_only %}
  SetEnvIf Request_Method HEAD hb-request=nolog
  SetEnvIf Remote_Addr 127.0.0.1 hb-request=nolog
  SetEnvIf hb-request nolog do_not_log
  {% endif %}
  {% if apache_vhosts_version == '2.4' %}
  CustomLog ${APACHE_LOG_DIR}/{{ apache_vhost_logname }}-access.log {{ apache_accesslog_format }} env=!do_not_log
  {% else %}
  CustomLog {{apache_log_dir}}/{{ apache_vhost_logname }}-access.log {{ apache_accesslog_format }} env=!do_not_log
  {% endif %}
  {% endif %}

 {% include 'bbinc/vhost_bboptimisations001.conf.j2' %}


</VirtualHost>
{% if apache_site_https_enabled %}
</IfModule>
{% endif %}
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
