# {{ ansible_managed }}
{% if ssl_enabled %}
{% include 'vhost80-443.j2' %}
{% endif %}

{% if ssl_enabled %}
<IfModule mod_ssl.c>
{% endif %}
<VirtualHost *:{{ apache_listen_port_ssl if ssl_enabled else apache_listen_port }}>
  ServerAdmin {{ apache_server_admin }}
  ServerName {{ apache_webserver_hostname }}
  {% if apache_webserver_hostname_alias is defined and apache_webserver_hostname_alias|length > 0 %}
  ServerAlias {{ apache_webserver_hostname_alias }}
  {% endif %}

{% if host_redirect_to_main %}
<If "%{HTTP_HOST} != '{{ apache_webserver_hostname }}'">
  Redirect "/" "http{{ 's' if ssl_enabled else '' }}://{{ apache_webserver_hostname }}/"
</If>
{% endif %}
  DocumentRoot {{ apache_default_site }}



{% if ssl_enabled %}
 {% include 'vhost-ssl.inc.j2' %}
{% endif %}

  {% if apache_server_status_enabled %}
  <Location /server-status>
    SetHandler server-status
    {% if apache_vhosts_version == '2.4' %}
     {% for entry in incoming_ip_whitelist %}
   Require ip {{ entry.ip }}
     {% endfor %}
   {% else %}
   Order deny,allow
   Deny from all
   Allow from 127.0.0.1
     {% for entry in incoming_ip_whitelist %}
   Allow from {{ entry.ip }}
     {% endfor %}
   {% endif %}
</Location>
{% endif %}

  <Directory {{ apache_default_site }}>
    AllowOverride None
    Options -Indexes +SymLinksIfOwnerMatch -MultiViews
 {% if apache_vhosts_version == '2.4' %}
    Require all granted
 {% else %}
    Order allow,deny
    allow from all
 {% endif %}


  </Directory>


  LogLevel {{ apache_loglevel }}
  ErrorLog ${APACHE_LOG_DIR}/{{ vhost_name }}-error.log
  {% if apache_log_exclude %}
  {% include 'bbinc/vhost-bb-logging.j2' %}
  {% else %}
  {% if apache_vhosts_version == '2.4' %}
  CustomLog ${APACHE_LOG_DIR}/{{ vhost_name }}-access.log {{ apache_accesslog_format }}
  {% else %}
  CustomLog {{apache_log_dir}}/{{ vhost_name }}-access.log {{ apache_accesslog_format }}
  {% endif %}
  {% endif %}

 {% include 'bbinc/vhost_bboptimisations001.conf.j2' %}


</VirtualHost>
{% if ssl_enabled %}
</IfModule>
{% endif %}
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
