#{{ ansible_managed }}
ErrorLog /var/log/apache2/error_log
{% if apache_vhosts_version == '2.4' %}
Include {{ apache_conf_available }}
Include {{ apache_mods_enabled }}/*.conf
Include {{ apache_mods_enabled }}/*.load
{% endif %}
Include {{ apache_conf_to_test }}
